[alias]
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    env = var -l
    last = log -1 HEAD --stat
    squash = ! git fetch -a && git rebase -i --autosquash
    sweep = ! "sweep() { git fetch --prune && for branch in $( git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}' ); do git branch -D $branch; done }; sweep"
    undo = reset HEAD~1 --mixed
    up = ! git fetch -a && git rebase --autostash
    whoami = ! git var -l | grep '^GIT_.*_IDENT'
[user]
    email = 7171722+bsemp@users.noreply.github.com
    name = Bruno Semperlotti
    signingkey = 53E540D1A8BF31D0
[pull]
    rebase = true
[core]
    excludesfile = {{ xdg_config_home }}/git/gitignore_global
[commit]
    gpgsign = true
    template = {{ xdg_config_home }}/git/gitmessage
[gpg]
    program = {{ homebrew_prefix }}/bin/gpg

# Override configuration according git directories
[includeIf "gitdir:~/workspaces/dior/"]
    path = {{ xdg_config_home }}/git/dior_gitconfig
